APP_ENV=prod
NEXT_PUBLIC_APP_ENV=prod
NEXT_PUBLIC_APP_URL=https://your-domain.com
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBWQSEla8yrUIqqpiPCKPFLXkyEf0KooOQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=viaje-travel-prod.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=viaje-travel-prod
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=viaje-travel-prod.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=386011339476
NEXT_PUBLIC_FIREBASE_APP_ID=1:386011339476:web:002f4c0ebd230a6faef941
FIREBASE_PROJECT_ID=viaje-travel-prod
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_PUBLIC_BASE_URL=
CLOUDFLARE_R2_PACKAGE_MEDIA_BUCKET=viaje-package-media
CLOUDFLARE_R2_PAYMENT_RECEIPTS_BUCKET=viaje-payment-receipts
CLOUDFLARE_R2_TRAVEL_DOCUMENTS_BUCKET=viaje-travel-documents
CLOUDFLARE_R2_GENERATED_PDFS_BUCKET=viaje-generated-pdfs
CLOUDFLARE_R2_SITE_MEDIA_BUCKET=viaje-site-media
