APP_ENV=prod
NEXT_PUBLIC_APP_ENV=prod
NEXT_PUBLIC_APP_URL=https://your-domain.com
RESEND_API_KEY=
EMAIL_FROM=Viaje Travel and Tours <bookings@viajetravelandtours.com>
ENABLE_EMAIL_TEST_SEND=false
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBWQSEla8yrUIqqpiPCKPFLXkyEf0KooOQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=viaje-travel-prod.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=viaje-travel-prod
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=viaje-travel-prod.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=386011339476
NEXT_PUBLIC_FIREBASE_APP_ID=1:386011339476:web:002f4c0ebd230a6faef941
FIREBASE_PROJECT_ID=viaje-travel-prod
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CLOUDFLARE_R2_ACCOUNT_ID=1b600d88b67aa9eef28ef3057e793076
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_PUBLIC_BASE_URL=https://pub-1b0429953375410db52374bb6e4fd6ac.r2.dev
CLOUDFLARE_R2_PACKAGE_MEDIA_BUCKET=viaje-travel-prod
CLOUDFLARE_R2_PAYMENT_RECEIPTS_BUCKET=viaje-travel-prod
CLOUDFLARE_R2_TRAVEL_DOCUMENTS_BUCKET=viaje-travel-prod
CLOUDFLARE_R2_GENERATED_PDFS_BUCKET=viaje-travel-prod
CLOUDFLARE_R2_SITE_MEDIA_BUCKET=viaje-travel-prod
